/* html {
    background-color: red;
}

h1 {
    color: blue;
} */

body {
    color: rgb(209, 209, 209);
    /* background-color: bisque; */
    background-color: rgb(31, 31, 31);
}
a:link {
    color: rgb(0, 102, 255);
}